body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
  background-color: rgb(94, 136, 252);
  margin-bottom: 50px
}

.header-inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 70px;
}

.header h1{
  padding-top: 65px;
  padding-left: 65px;
  margin-bottom: 5px;
  color:crimson;
  margin-top: 20px;
  font-size: 65px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, .7);
}

.header p{
  color: white;
  padding-bottom: 40px; 
  text-align: center;
}

.header img{
  margin-top: 20px;
  margin-bottom: 30px;
}


.container {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
}

.col-1{
  min-width: 250px;
}

.book-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: stretch;  
  margin-top: 105px;
  max-width: 100%;
}

input[type=text]:focus {
  background-color: rgb(229, 226, 226);
}

.book-form .submit{
  margin-top: 5px;
  align-self: center;
  width: min-content;
}

.book-form h3{
  font-size: 25px;
}

#book-header{
  text-align: center;
  font-size: 35px;
}

.col-2 .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-evenly;
}

.card {
  width: 350px;
  height: min-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  margin-bottom: 70px;
}

.title-author{
  height: 125px;
  align-content: space-between;
}

.card h3{
  font-size: 25px;
  margin-bottom: 5px;
}

.card h4{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.card img{
  margin-top: 10px;
  position: relative; bottom: 10px;
}

.card button {
  margin-right: 5px;
  background-color: lightsteelblue;
  color: white;
  border-radius: 0.5rem;
  height: 30px;
  border: none;

  
}

@media(max-width: 450px) {
  .header{
    width: 100%;
  }

  .container {
    width: 50%;
  }

  .book-form{
    width: min-content;
  }
}

@media(max-width: 600px) {
  .header{
    width: 100%;
  }

  .container{
    width: 100%;
  }
}

@media(max-width: 900px) {
  .header{
    width: 100%;
  }

  .container{
    width: 100%;
  }
}